html {
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.font400 {
    font-weight: 300 !important;
}

.nav-link {
    color: #888888;
    letter-spacing: 2px;
    font-size: 20px;
}

.nav-link:hover {
    color: #5c9f74
}

.nav-link:hover::after,
.nav-link:hover::before {
    opacity: 1;
}

.nav-link:before {
    content: "\22CA";
    margin-right: 4px;
    color: #5c9f74;
    opacity: 0;
    transition: opacity 200ms linear;
}

.nav-link:after {
    content: "\22C9";
    margin-left: 4px;
    color: #5c9f74;
    opacity: 0;
    transition: opacity 200ms linear;
}

.pp {
    color: #5c9f74;
    letter-spacing: 15px;
    font-size: large;
}

#mouse {
    filter: invert(50%);
    animation: flick 800ms infinite linear;
}

@keyframes flick {

    0%,
    100% {
        opacity: 0.3
    }

    50% {
        opacity: 1;
    }
}

@keyframes rt {
    0% {
        opacity: 0;
    }

    50% {
        transform: rotateZ(180deg) translateX(-200px)
    }

    100% {
        transform: rotateZ(360deg);
        opacity: 1;
        color: #548da8
    }
}

#bottomNav {
    transition: all 300ms linear;
}

@media screen and (max-width:752px) {
    #bottomNav {
        transform: translateY(100%);
        opacity: 0
    }
}